// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";


.logo {
  width:10px;
}

.rating {
    width: 25px;
    border: solid black 1px;
    border-radius: 50%;
    border-color: black;
    text-align: center;
}

.rating:hover {
  background-color: #E6E6E6;
}
